*{
	margin: 0;
}

/*шапка профиля*/
.header {
	width: 100%;
	height: 80px;
	background-color: #EEBD17;
	display: flex;
	justify-content: space-between;
	margin-bottom: 118px;
}

.logo {	
	padding: 16px 0 16px 80px;
}

.logo_heading {
	position: absolute;
	left: 140px;
	top: 29px;
	font: 400 24px/27px righteous, arial;	
}

.login {
	padding: 29px 80px;
	font: 400 24px/27px righteous, arial;
	color: black;
	text-decoration: none;
}

.main {
	padding-left: 80px;
}

/*приветствие пользователя и вход админа*/
.main_greeting{
	margin-bottom: 195px;	
}

.main_greeting1 {
	font: 400 48px/55px righteous, arial;
	padding-bottom: 14px;
}

.main_greeting2 {
	font: 400 72px/82px righteous, arial;
	padding-bottom: 66px;
}

.input_button {
	width: 180px;
	height: 64px;
	background-color: #F4C31E;
	font: 400 24px/27px righteous, arial;
	border-radius: 10px;
	border: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
}

/*выбор главного экрана приложения*/
.mask {
	position: absolute;
	left: 63%;
	top: 36%;
	width: 480px;
	heigth: 626px;
}

.mask_img {
	width: 380px;
	height: 469px;
	padding-bottom: 25px;
}

.heading {
	font: 400 36px/41px righteous, arial;
	padding: 0 20px 0 36px;
}

/*коррекция пользователей*/
.users {
	padding-bottom: 97px;
	height: 293px;
}

.users_correct {
	padding-bottom: 50px;
	padding-left: 0;
}

.img_boy, .img_girl {
	width: 185px;
	height: 185px;
	margin-left: -20px;
}
.img_boy {
	padding-right: 30px;
}

/*просмотр статуса пользователей*/
.status {
	padding-bottom: 55px;
}

.status_tama {
	padding: 0 0 38px 0;
}

.status_state {
	padding-bottom: 15px;
	font: 400 24px/27px righteous, arial;
}

/*полоса загрузки: пример*/
.loading-bar__status {
	position: relative;
  width: 98%;
  margin: 0px auto;
  border: 1px solid #C4C4C4;
  background-color: #E5E5E5;
}

.loading-bar__status, .element {
	margin: 0;
	height: 30px;
	border-radius: 15px;
}

.element {
	position: absolute;
  top: 0;
  left: 0;  
}

.light_blue {
	background-color: #00C6E1;
}

/*варианты развития: играть, кормить, лечить, усыплять*/
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 90px 107px;
	padding-bottom: 70px;
}

.play, .eat, .health, .sleep {
	position: relative;
}

.box {
	position: absolute;
	left: 30%;
	top: 25%;	
}

.box_heading {
	font: 400 24px/27px righteous, arial;
	padding-bottom: 19px;
}

/*реализация статуса ползунка*/
.loading-bar {
		position: relative;
    width: 380px;
    margin: 0px auto;
    border: 1px solid #C4C4C4;
    background-color: #E5E5E5;   
}

.loading-bar, .amount {
	height: 30px;
	border-radius: 15px;
}

.amount {    
    position: absolute;
    top: 0;
    left: 0;     
}

/*подключение цветов*/
.purple {
	background-color: #C00296;
}

.green {
	background-color: #027900;
}

.yellow {
	background-color: #FDF195;
}

.blue {
  background-color: #3037E3;    
}

/*заключающая часть*/
footer {
	background-color: #F4C31E;
	height: 150px;
}